[Desktop Entry]
Type=Application
Name=WeBookServer
GenericName=WeBookServer
Comment=WeBook is Pronounced Web Book and its by the Light Wizzard in the Flesh
Icon=WeBookServer
Exec=WeBookServer
Terminal=false
Categories=Office;
Keywords=office;
Name[en_US]=WeBookServer.desktop
