<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>WeBookServer</Name>
    <Version>0.1.0</Version>
    <Title>WeBookServer</Title>
    <Publisher>Light-Wizzard</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>WeBookServer</StartMenuDir>
    <TargetDir>@HomeDir@/WeBookServer</TargetDir>
</Installer>
